executor{
   jobName = { "$task.tag" }
   queueSize = 4
}

params {

    projectName = "GATK.EUR"

    outDir = "/ceph/cbio/users/lindo/BAM_FILES/EUR_BAM"

    cacheDir = "/ceph/cbio/users/lindo/BAM_FILES/EUR_BAM/"

    queue = 'Main'

}

profiles{
    standard {
        process.executor = 'local'
    }

   slurm {
        process.executor = 'slurm'
        process.queue = params.queue
	process.container = 'docker://lindonkambule/project_gatk'
        singularity.enabled = true
        process.memory =  20.GB
        process.cpus = 20
        process.time = 96.h
    }
}
